@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.dark {
  --color-bg: #111827;
  --color-text: #f3f4f6;
}

/* Применяем переменные к body */
body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: system-ui, sans-serif;
  transition: background-color 0.3s, color 0.3s; /* плавный переход */
}